@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

:root {
  --primary: #158756;
  --text: #4a4a4d;
  --light: #FFFFFF;
  --accent: #d81959;
  --dark: #f8fafa;
  --dark-secondary: #f8fafa;
  --border-color: #d9d9dd;
  --max-width: 1200px;
}

html, body{
margin: 0;
padding: 0;
background-color: var(--dark);
}